body {
    background-color: #3272f3;
    font-family: 'Roboto', sans-serif;
}

h5 {
    text-align: center;
    margin-top: 4%;
    font-size: 20px;
    color: yellow;
    animation: opacityOn 2s;
}

h4 {
    text-align: center;
    font-size: 20px;
    color: yellow;
    animation: opacityOn 2s;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: yellow;
    animation: opacityOn 2s;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: yellow;
    animation: opacityOn 2s;
}

.label_text {
    margin-top: 15px;
    margin-bottom: 5px;
}

.input_text {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: yellow 5px solid;
    border-radius: 10px;
    transition: border-color 0.25s ease-in-out;
}

.input_text:hover {
    border-color: red;
    transition: 0.25s ease-in-out;
}

.input_submit {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 5%;
    background-color: yellow;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.25s ease-in-out;
    animation: opacityOn 2s;
}

.input_submit:hover {
    background-color: red;
    transition: 0.25s ease-in-out;
}

a {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    text-decoration: none;
    color: yellow;
    font-size: 15px;
    transition: color 0.25s ease-in-out;
    animation: opacityOn 2s;
}

a:hover {
    color: red;
    transition: 0.25s ease-in-out;
}

.msg {
    text-align: center;
    color: red;
}

#footer {
    text-align: center;
    color: yellow;
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}